.result__title {
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

.result {
    font-size: 25px;
    padding: 10px;
    margin: 0 auto;
    font-weight: bold;
}

.result__box {
    display: grid;
    grid-template-columns: auto;
}