html { 
  box-sizing: border-box;
}   

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eee;
  background-size: 630px;
  background-position: center;
  background-repeat: inherit;
}